<div class="container" id="allClocksDict">
    <table class="table table-bordered">
        <thead><tr><th>Devices Under Test</th></tr></thead>
        <tbody>
        <tr>
        {% for port, clocks in allClocks.items %}
            <td>Port: {{ port }}</td>

            <td>
            {% for clockid, clock in clocks.items %}
                ClockID: {{ clockid }}   |
                {% endfor %}
            </td>
        </tr>
        {%  endfor %}
        </tbody>
    </table>
</div>

<div class="container" id = "bestClocksOnEachPort">
    <table class="table table-bordered">
        <thead><tr><th>Best Devices on Each Port</th></tr></thead>
        <tbody>
        {% for port, clock in bestClocksonEachPort.items %}

            <td>Port: {{ port }}</td><td>ClockID: {{ clock.clockidentity }} </td>

        {% endfor %}

    </tbody>
</table>
</div>

<div class="container" id="BestMasterPacket">

    <table class="table table-bordered">
        <thead><tr><th>Best Master Clock</th></tr></thead>

        <tbody>
            <tr>
                <td>Clock ID: </td> <td>{{ bestMasterClock.clockidentity}} </td>
            </tr>
            <tr>
                <td>Grandmaster Clock Identity:</td> <td>{{ bestMasterClock.GMClockIdentity }} </td>
            </tr>
            <tr>
                <td>Grandmaster Clock Class:</td> <td>{{ bestMasterClock.GMClockClass }} </td>
            </tr>
            <tr>
                <td>Grandmaster Clock Accuracy:</td> <td>{{ bestMasterClock.GMClockAccuracy }} </td>
            </tr>
            <tr>
                <td>Grandmaster Clock Variance:</td> <td>{{ bestMasterClock.GMClockVariance }} </td>
            </tr>
            <tr>
                <td>Priority 1:</td> <td>{{ bestMasterClock.priority_1 }} </td>
            </tr>
            <tr>
                <td>Priority 2:</td> <td>{{ bestMasterClock.priority_2 }} </td>
            </tr>
            <tr>
                <td>Local Steps Removed:</td> <td>{{ bestMasterClock.localstepsremoved }}</td>
            </tr>
            <tr>
                <td>Source Port:</td> <td>{{ bestMasterClock.SRC_PORT }} </td>
            </tr>
            <tr>
                <td>Destination Port:</td> <td>{{ bestMasterClock.DST_PORT }} </td>
            </tr>
            <tr>
                <td>Source Ethernet:</td> <td>{{ bestMasterClock.ETH_SRC }} </td> </tr>
            <tr>
                <td>Destination Ethernet: </td> <td>{{ bestMasterClock.ETH_DST }} </td>
            </tr>
            <tr>
                <td>Source IP: </td> <td>{{ bestMasterClock.IP_SRC }} </td>
            </tr>
            <tr>
                <td>Destination IP: </td> <td>{{ bestMasterClock.IP_DST }} </td>
            </tr>
            <tr>
                <td>Timestamp: </td> <td>{{ bestMasterClock.sniff_timestamp }} </td>
            </tr>
            <tr>
                <td>Sequence ID: </td> <td>{{ bestMasterClock.sequence_id }} </td>
            </tr>
            <tr>
                <td>Timesource:</td> <td>{{ bestMasterClock.timesource }} </td>
            </tr>
        </tbody>

        </table>
</div>
