<div class="container">
    <table class="table table-bordered">
        <thead><tr><th>Multicast Mac Address Test</th></tr></thead>
            <tr>
                <td>ClockIdentity:</td> <td>{{ Packet.clockidentity }}</td>
            </tr>
            <tr>
                <td>Destination Ethernet Address:</td> <td>{{ Packet.ETH_DST }} </td>
            </tr>
            <tr>
                <td>Timestamp:</td> <td>{{ Packet.sniff_timestamp }} </td>
            </tr>
            <tr>
                <td>SequenceID:</td> <td>{{ Packet.sequence_id }} </td>
            </tr>
            <tr>
                <td>Result:</td> <td>{{ result }}</td>
            </tr>

        </table>
</div>
