<div class="container">
    <table class="table table-bordered">
        <thead><tr><th>Leap Second Test</th></tr></thead>
            <tr>
                <td>ClockIdentity:</td> <td>{{ Packet.clockidentity }}</td>
            </tr>
            <tr>
                <td>Destination Ethernet Address:</td> <td>{{ Packet.ETH_DST }} </td>
            </tr>
            <tr>
                <td>Current UTC Offset:</td><td>{{ Packet.utcoffset }} </td>
            </tr>
            <tr>
                <td>Origin Timestamp(Seconds):</td> <td>{{ Packet.origintimestampseconds }}     ({{ Packet.origindatetime }})</td>
            </tr>
            <tr>
                <td>UTC Reasonable:</td> <td>{{ Packet.utcreasonable }} </td>
            </tr>
            <tr>
                <td>Li59:</td> <td>{{ Packet.li59 }}  </td>
            </tr>
            <tr>
                <td>Li61:</td> <td>{{ Packet.li61 }} </td>
            </tr>
            <tr>
                <td>Action:</td> <td>{{ action }}</td>
            </tr>

        </table>
</div>
